﻿.subheader-title-strip {
    background-color: #E05000; 
    padding: 3px; 
    height: 25px;
}

.shell-nav-items-ul {
    width: fit-content;
} 

.shell-nav-items-li {
    width: fit-content;
}

.subheader-title-strip-left {
    float: left; 
    margin-left: 10px; 
    color: #ffffff;
}

.subheader-title-strip-right {
    float: right; 
    margin-right: 10px;   
}

.rs-container {
    float: left;
    width: 500px;
}